.chat_details{
    display: flex!important;
    flex-direction: column!important;
    flex: 0.70!important;
}

.chatdetails_header{
    padding: 20px!important;
    display: flex!important;
    align-items: center!important;
    border-bottom: 1px solid lightgray!important;
}

.chatdetails_headerInfo{
    flex: 1!important;
    padding-left:20px!important;
}

.chatdetails_headerInfo > h3{
    margin-bottom: 3px!important;
    font-weight: 500!important;
}

.chatdetails_headerInfo > p{
    color: gray!important;
}

.chatdetails_body{
    flex: 1!important;
    padding: 30px!important;
    overflow: scroll!important;
}

.chatheader_timestamp{
    display: flex!important;
    font-size: smaller!important;
}

.chatmessage{
    position: relative!important;
    font-size: 16px!important;
    padding: 10px!important;
    width: fit-content!important;
    border-radius: 10px!important;
    background-color: lightgray!important;
    margin-bottom: 30px!important;
}


.chat_received{
    margin-left: auto!important;
    background-color: #dcf8c6 !important;
}

.chatdetails_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chatdetails_footer > form {
    flex: 1;
    display:  flex;
}

.chatdetails_footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding:  6px;
    border: none;
}

.chatdetails_footer > form > button {
    display: none;
}

.chatdetails_footer > .MuiSvgIcon-root{
    padding: 1px;
    color: gray;
}

.sendbutton{
    display: flex;
    color: gray;
}

