.chatContainer{
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.chatcontainer_body{
    display: flex;
    background-color: whitesmoke;
    margin-top: -50px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    height: 95vh;
    width: 98vw;
    }

    .chat_list{
        display: flex;
        flex-direction: column;
        flex: 0.30;
    }
    
    .Chatlist_searchbar{
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        height: 40px;
        padding: 10px;
        width: 450px;
    }
    
    .chatlist_searchbarcontainer{
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 35px;
        border-radius: 20px;
    }
    
    .chatlist_searchbarcontainer > .MuiSvgIcon-root {
        color: gray;
    }
    
    .chatlist_searchbarcontainer > input {
        border: none;
        outline-width: 0;
        margin-left: 10px;
    }
    
    .chatLists_Container{
        flex: 1;
        background-color: white;
        overflow: scroll;
    }


    
    