.container{
    display:flex;
}
.sidenav{
    width:30%;
    min-height:100vh;
    border-right:1px solid #80808014;
}
.HomeMain{
    flex:1;
}
.suggestion {
    width: 70%;
    align-items: center;
    
}
